.topbar {
    background-color: #060b26;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.topbar p {
    margin-bottom: 0px;
}

.topbar Button {
    margin-left: 10px;
}

.card {
    margin: auto;
    margin-top: 20px;
    width: 95%;
    padding: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: transparent
}

.card h3 {
    font-weight: bold;
}

.add-job {
    display: flex;
    justify-content: space-between;
    align-items: center;
}